@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme-clr: #12002b;
  --bg-clr: #090014;
  --bg-2-clr: #12002b;
  --txt-clr: #00ffff;
  --primary-clr: #ff0055;
  --secondary-clr: #b900ff;
  --border-clr: #ff0055;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}

a {
  color: var(--secondary-clr);
  text-decoration: none;
}

.sidebar {
  margin: 0 auto;
  width: 80%;
}

.sidebar hr {
  border-color: var(--border-clr);
}

.sidebar ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 1rem;
}

.sidebar ul li a {
  padding: .5rem 1rem;
  border-radius: 5px;
  transition: .25s;
}

.sidebar ul li a:hover {
  color: var(--txt-clr);
  background-color: var(--bg-2-clr);
}

.sidebar ul li a.active {
  color: var(--txt-clr);
  background-color: var(--bg-2-clr);
}

.game {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}

#canvas {
  width: 80%;
  background-color: var(--bg-2-clr);
  border-radius: 8px;
  border: 2px solid var(--border-clr);
  box-shadow: 0 0 20px var(--border-clr), inset 0 0 20px var(--theme-clr);
}